<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Удаление профиля</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button" class="btn-close"
            type="button"></button>
  </div>

  <div class="modal-body">
    <p><strong>Вы уверены что хотите удалить сотрудника <span class="text-primary">"{{ employee.fullName }}"</span>
      ?</strong></p>
    <p>Вся информация будет безвозвратна утеряна
      <span class="text-danger">Операцию нельзя отменить.</span>
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel click')" class="btn btn-outline-secondary" type="button">Отмена</button>
    <button (click)="modal.close('ok')" class="btn btn-danger" ngbAutofocus type="button">Ок</button>
  </div>

</ng-template>

<button (click)="open(content)" class="edit btn-danger btn-sm btn" data-bs-target="#deleteConfirmModal" data-bs-toggle="modal"
        type="button">
  Удалить
</button>
